body {
    font-family: "Roboto", sans-serif;
    background-color: #f1f1f1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight:900;
    max-width:1350px;
    margin:auto;
}

.custom-select {
    font-weight:900;
}
option{
    font-weight:900;
}
button{
    font-weight:900;
}
.navbar-default {
    background-color: #00629b;
    border-color: aliceblue;
}

.navbar-brand {
    color:white !important;
    font-size: 20pt;
    padding: 10px;
}

li {
    padding: 2px;
    font-size: 10pt;
}

#perturbagenDiv {
    margin-right: 50px;
    float:left;
}

#kinaseDiv {
    margin-right: 50px;
    width:25%;
}

.details_form {
    display:inline;
}

.container {
    padding:10px;
    margin: 0;
    max-width: 1800px;
}

#cy {
    height: 610px;
    background-color: white;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    padding:0;
    margin-left:10px;
}

#cy2 {
    height: 380px;
    background-color: white;
    margin-right:10px;
}

#cy3 {
    height: 380px;
    background-color: white;
    margin-left:10px;
    margin-bottom:10px;
}

#cy-big {
    background-color: white;
    float:left;
    visibility: hidden;
    height: 0;
    margin-left:10px;
}

#cy-big-PKinfo {
    background-color: white;
    float:right;
    visibility: hidden;
    height: 0;
    overflow:auto;
    margin-right:10px;
}
#interactionInfo {
    padding: 10px;
    background-color: white;
    margin-right:10px;
}

#interactionInfo > div > a {
    font-weight: bold;
}

#detailedInfo {
    padding: 10px;
    background-color: white;
    margin-right:10px;
}

#detailedInfo > div > a {
    font-weight: bold;
}

#detailedInfo > div:nth-child(3) > a{
    font-size: 12px;
}


#detailedInfo > div:nth-child(4) > a{
    color: red;
}

table, th, td {
    border: 1px solid black;
    font-size: 12px;
}

table {
    margin: auto;
    width: 100%;
}

a {
    font-weight: bold;
}

#finalScoreInfoID {
    color: red;
}
