body {
    font-family: "Roboto", sans-serif;
    background-color: #f1f1f1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight:900;
    max-width:1350px;
    margin:auto;
}
.topnav {
    padding:0;
    margin-left:0;
}

.custom-select {
    font-weight:900;
}

#form{
    display:grid;
    row-gap: 10px;
}

option{
    font-weight:900;
}

button{
    font-weight:900;
}

.navbar-default {
    background-color: #00629b;
    border-color: aliceblue;
}

.navbar-brand {
    color:white !important;
    font-size: 20pt;
    padding: 10px;
}

li {
    padding: 2px;
    font-size: 10pt;
}

#perturbagenDiv {
    margin-right: 50px;
    float:left;
    display:grid;
    grid-template-columns: 250px 200px 200px 100px 100px;
    column-gap: 10px;
}

#perturbSeeAllBtn{
    height:38px;
    width:100%;
}

#kinaseSeeAllBtn{
    height:38px;
    width:100%;
}

#pathwayBtn{
    height:38px;
    width:100%;
}

#secondaryPathwayBtn{
    height:38px;
    width:100%;
}

#kinase-pathway-title{
    background-color: #00629b;
    color:white;
    text-align:center;
    font-size:15pt;
    font-weight:900;
    padding:10px;
}
#kinaseDiv {
    margin-right: 50px;
    width:25%;
    display:grid;
    grid-template-columns: 250px 200px 200px 50px 200px;
    column-gap: 10px;
}

.details_form {
    display:inline;
}

.container {
    padding:10px;
    margin: 0;
    max-width: 1800px;
}

#cy {
    height: 610px;
    background-color: white;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    padding:0;
    margin-left:10px;
}

#cy2 {
    height: 380px;
    background-color: white;
    margin-right:10px;
}

#cy3 {
    height: 380px;
    background-color: white;
    margin-left:10px;
    margin-bottom:10px;
}

#cy-big {
    background-color: white;
    float:left;
    margin-left:10px;
    visibility: visible;
    height:1000px;
}

#PKT{
    background-color: #00629b;
    color:white;
    text-align:center;
    font-size:15pt;
    font-weight:900;
    padding:10px;
}

#cy-container{
    display:grid;
    column-gap:10px;
    grid-template-columns: 7fr 3fr;
    padding:0;
    visibility:visible;
    background-color:#00629b;
}

#Interaction-div{
    display:grid;
    grid-template-rows: 6fr 4fr;
}

#cy-big-PKinfo {
    background-color: white;
    float:right;
    overflow:auto;
    margin-right:10px;
    visibility:visible;
    height:1000px;
}

#interactionInfo {
    padding: 10px;
    background-color: white;
    margin-right:10px;
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#KTA{
    background-color: #00629b;
    color:white;
    text-align:center;
    font-size:15pt;
    font-weight:900;
    padding:10px;
}

#KTA-grid{
    display:grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    background-color: #00629b;
}

#interactionInfo > div > a {
    font-weight: bold;
}

#detailedInfo {
    padding: 10px;
    background-color: white;
    margin-right:10px;
}

#detailedInfo > div > a {
    font-weight: bold;
}

#detailedInfo > div:nth-child(3) > a{
    font-size: 12px;
}


#detailedInfo > div:nth-child(4) > a{
    color: red;
}

table, th, td {
    border: 1px solid black;
    font-size: 12px;
}

table {
    margin: auto;
    width: 100%;
}

a {
    font-weight: bold;
}

#finalScoreInfoID {
    color: red;
}

.qtip-content{
    font-size:16px;
}